<!DOCTYPE html>
<html lang="en">
<head th:replace="/partials/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Creat post</h1>
<div>
  <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
    Title:
      <input id="title" th:field="*{title}"/>
    <div>
    Body:
    <textarea th:field="*{body}" id="body" rows="4" cols="50"></textarea>
    </div>
<!--    <div>-->
<!--      Enter categories separate by comma:-->
<!--      <input th:field="*cats" id="cats"/>-->
<!--    </div>-->
  <button>Submit</button>
  </form>
</div>
</body>
</html>